body {
  font-family: Roboto;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Остальной код */

:root {
  --tittle-color: #212121;
  --text: #757575;
  --text-tittle-background: #ffffff;
  --hover-background: #2196f3;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  color: #000000;
  display: flex;
  align-items: center;
}

.logo-web {
  color: #2196f3;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.nav-menu a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--tittle-color);
}
.nav-menu-flex,
.nav-menu-adress,
.nav-menu-flex-main,
.nav-menu {
  display: flex;
}
.nav-menu-flex li {
  /* outline: 2px solid aqua; */
}
.nav-menu-flex {
  margin-left: 85px;
}

.adress-link {
  margin-left: auto;
}
.nav-menu-item:not(:last-child) {
  margin-right: 50px;
}
.nav-menu-link:hover {
  color: var(--hover-background);
}
.nav-menu-link:focus {
  color: var(--hover-background);
}

.nav-menu-item .nav-menu-link-height,
.nav-menu-adress-item .nav-menu-link-height {
  display: block;
  line-height: 80px;
}

.nav-menu-adress-item:not(:last-child) {
  margin-right: 30px;
}

.nav-menu-flex-main {
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.adress-link a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* секция героя */
.conteiner-hero-section {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}
.hero-section {
  display: flex;
  align-items: center;
  background-color: aqua;
  height: 600px;
}
.hero-tittle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-tittle-background);
  margin-bottom: 30px;
}
.hero-button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  /* display: flex; пока не применяем  */
  align-items: center;
  text-align: center;
  /* letter-spacing: 0.06em; */
  color: var(--text-tittle-background);
  width: 200px;
  height: 50px;

  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  background-color: #2196f3;
  margin-right: auto;
  margin-left: auto;
}

/* секция чем мы занимаемся */
.conteiner-future-section {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}
.list-item-future-flex {
  display: flex;
  margin-top: 94px;
  margin-bottom: 94px;
}
.list-item-future-block {
  width: 270px;
}
.list-item-future-block:not(:last-child) {
  margin-right: 30px;
}
.list-item-feature h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tittle-color);
}
.list-item-feature p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
  color: var(--text);
}
.section-tittle {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-color);
  margin-bottom: 50px;
}

/* секция чем мы занимаемся */
.conteiner-competencies {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}
.section-whatdoing-subtittle h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-tittle-background);
  /* background чтобы было видно текст  */
  background-color: antiquewhite;
}
.section-whatdoing-subtittle {
  display: flex;
}
.section-whatdoing-item {
  width: calc((100%-30px * 2) / 3);
}

/* секция наша команда */
.conteiner-ourcommands {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
  padding-top: 94px;
}
.section-comand-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--tittle-color);
}
.section-comand-list p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text);
}
.section-comand-list {
  display: flex;
}

/* постоянный клиенты */
.conteiner-ourclient {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}
.ourlient-list {
  display: flex;
  margin-top: 50px;
}
.ourclients-flex-item {
  width: 170px;
  height: 90px;
}

/* попытка центрирования изображения */
.ourclients-flex-item-img {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.ourclients-flex-item:not(:last-child) {
  margin-right: 30px;
}
/* footer */
footer {
  background-color: #2f303a;
}
.conteiner-footer {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.footer-adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;
  color: var(--text-tittle-background);
}
.link-footer {
  color: rgba(255, 255, 255, 0.6);
}
.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: var(--text-tittle-background);
}
.footer-tittle {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-tittle-background);
}
.footer-copyright {
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  /* or 200% */

  text-align: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.4);
}

/* стили portfolio main */

/* сделал через li и потом a потому что если только через ли то по центру 
но остается цвет ссылок, а если только через "а", то не центруется */
.main-nav-item li {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
}
.main-nav-item a {
  color: var(--tittle-color);
}
.portfolio-conteiner {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  width: 370px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.portfolio-main-tittle h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
  color: var(--tittle-color);
}
.portfolio-main-tittle p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;
  color: var(--text);
}
